
<div class="hero-unit">
  <h1> Microblog</h1>
      <p>Microblog  一个   Node.js       </p> <p>
      <a class="btn btn-primary btn-large" href="/login">登录</a>
      <a class="btn btn-default btn-large" href="/reg">立即注册</a>
   </p>
</div>
<div class="row"> 
  <div class="span4 col-md-4">
      <h2>他说  </h2>
      <p>        我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆             </p> 
  </div>
  <div class="span4 col-md-4"> 
      <h2>你说 </h2>
      <p>
          我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆        
      </p>
   </div>
    <div class="span4 col-md-4">
        <h2>  我说  </h2>
        <p>我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 
    我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆 我爱老婆  </p>
    </div>
</div>